---

caminho_dominio: "OU=Diretoria Executiva,DC=xpto,DC=local"
caminho_dominio_back_end: "OU=Back-End,OU=Desenvolvimento de Software,OU=Diretoria Executiva,DC=xpto,DC=local"
senha_padrao: "Ifro123456"

domainusers:
  - {name: 'jdoe', firstname: 'John', surname: 'Doe'}